.basket_track {
  margin: 15px 40px;
  display: flex;
}
.track_item {
  font-size: 20px;

  border: 1px solid #FFD00D;
  border-radius: 15px;
  padding: 10px 20px;
}
.current_track {
  background-color: #FFD00D;
  color: white;
  font-weight: 600;
}
.basket_track i {
  color: #FFD00D;
  font-size: 30px;
  margin: 8px 10px 0;
}

.basket_item {
  margin: 0 40px;
  display: flex;
  padding: 20px 0 0;
  height: 240px;
  border-bottom: 3px solid #FFD00D;
}
.basket_item:first-of-type {
  border-top: 3px solid #FFD00D;
}
.basket_item:last-of-type {
  margin-bottom: 20px;
}
.basket_item img {
  /*width: 18%;*/
  height: 90%;
  border-radius: 20px;
  border: 3px solid #FFD00D;
  margin-right: 20px;
}
.basket_info {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.basket_info h3 {
  font-style: italic;
  font-size: 25px;
  margin-bottom: 10px;
}
.basket_info h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.basket_further p {
  font-size: 18px;
  margin-bottom: 5px;
}

.basket_price_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.price_upper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
}
.price_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.price_content {
  font-size: 20px;
  font-weight: 600;
  height: 52px;
  display: flex;
  align-items: center;
}
.price_lower {
  display: flex;
  justify-content: flex-end;
  margin: 40px 20px 0 0;
}

.quantity_counter {
  display: flex;
  justify-content: center;
}
.quantity_counter p {
  font-size: 20px;
  margin: 0;
}
#counter {
  border: 3px solid #FFD00D;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px 0 0 15px;
}
#counter_up, #counter_down {
  border: 3px solid #8400FF; 
  width: 30px;
  height: 20px;
  color: #8400FF;
  font-size: 30px;
  cursor: pointer;
}
#counter_down i {
  position: relative;
  bottom: 13px;
}
#counter_up {
  border-radius: 0 15px 0 0;
}
#counter_down {
  border-radius: 0 0 15px 0;
}
.total_price {
  display: flex;
  justify-content: flex-start;
  margin: 20px 40px 20px 50%;
  width: calc(50% -40px);
  align-self: right;
}
.total_price p {
  font-size: 27px;
  font-weight: 700;
}
.total_price p:first-of-type {
  margin-left: 55px;
}
.total_price p:last-of-type {
  margin-left: 240px;
}

.checkout_button {
  display: flex;
  justify-content: flex-end;
  margin: 0 60px 40px 0;
  cursor: pointer;
}
.checkout_button > .button_primary {
  margin: 0;
}

.empty_cart {
  margin: 0 40px;
  font-size: 25px;
}