body {
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  width: 1024px;
}
header {
  height: 110px;
  width: 100%;
  background-color: #8400FF;
  color: white;
  display: flex;
  justify-content: space-between;
}
h1, h2, h3, h4, h5, p { 
  margin: 0;
}
#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  cursor: pointer;
}
#logo span {
  color: #FFD00D;
  font-size: 60px;
  font-style: italic;
}
header > div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}
#basket {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color:  #FFD00D;
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
  width: max-content;
}
#basket span {
  color: white;
}
#basket i {
  margin-right: 10px;
  position: relative;
  bottom: 5px;
}
#menu {
  display: flex;
  justify-content: flex-end;
}
.menu_item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.menu_selected {
  background-color: white;
  border: 1px solid #8400FF;
  border-radius: 10px;
  color: #8400FF;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color:  #B39412;
  height: 60px;
  padding: 10px 40px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
}
footer p {
  width: 178px;
}
#social_media i {
  color: #8400FF;
  font-size: 25px;
  margin: 5px 2px 0;
}

.headline {
  color: #8400FF;
  font-style: italic;
  font-size: 25px;
  margin: 10px 40px;
}
.headline h2 {
  font-weight: 600;
}

.button_primary {
  margin: 0 auto;
  background-color: #8400FF;
  width: max-content;
  padding: 10px 22px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  border: 3px outset #9019FF;
  cursor: pointer;
}
.button_primary[disabled="true"] {
  animation: disabling 3s ease-in-out 1;
}
@keyframes disabling {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.5;
  }
  85% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.button_secondary {
  color: #8400FF;
  background-color: white;
  width: max-content;
  padding: 10px 22px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  border: 3px outset #9019FF;
  cursor: pointer;
}