.products_main {
  padding-right: 20px;
  display: flex;
  margin-bottom: 20px;
}
.filters {
  background-color: #FFD00D;
  height: max-content;
  padding: 10px 15px 25px 10px;
  width: 15%;
}
.filters h3 {
  font-size: 22px;
}
.filters h4 {
  font-size: 18px;
  padding: 5px 0 0 10px;
  font-weight: 400;
}
.filters h4:not(:first-of-type) {
  padding-top: 10px;
}
.filters input {
  margin: 5px 0 5px 18px;
}
.filters label {
  font-size: 18px;
  padding: 0 0 8px 5px;
}

.products_subsection {
  width: 100%;
}
.products_list {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  flex-wrap: wrap;
}
.product_item {
  width: 25%;
  border: 1px solid #FFD00D;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.product_item img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.product_item h3 {
  font-style: italic;
  font-size: 25px;
  margin-bottom: 10px;
}
.product_item h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}
.product_item h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.empty_list {
  font-size: 25px;
}

.button_popup {
  position: relative;
}
.popup {
  position: absolute;
  border: 1px solid #8400FF;
  border-radius: 5px;
  background-color: white;
  width: calc(100% - 20px);
  z-index: 1;
  padding: 10px;
  top: 4px;
  display: none;
  opacity: 0;
}

.show {
  display: block;
  opacity: 1;
  animation: showing 3s ease-in-out 1; 
}

@keyframes showing {
  0% {
    display: none;
    opacity: 0;
  }
  15% {
    display: block;
    opacity: 1;
  }
  85% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

